
.header{
    display:flex;
    justify-content:space-between;
    margin: 0;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.header > div{
    margin: 10px;
}
.header > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header > div >h6{
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}
#optiions{
    display: none;
    position: absolute;
    color:black;
    background-color:rgb(207, 209, 199);
    box-shadow: 10px 10px 5px lightblue;
    width: 100%;
    text-align:left;
    padding-left:20px;
}

#optiions > h6{
    cursor: pointer;
    z-index: 9;
}
ion-icon{
    cursor: pointer;
    display:none;
    margin-left:10px;
}

@media  (max-width: 600px) {
    .header > div >h6{
        display:none
        }
        button+button{
            display:none
        }
        ion-icon{
            display:block
        }
        
}
button{
    border-radius: 30px;
    border: none;
    border :1px solid black;
    background-color:inherit;
    padding:5px 10px  ;
    font-size:10px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;

}
button:hover{
    background-color:black;
    color:white;
 
}
button+button{
    background-color: black;
    color:white;
}
button+button:hover{
    color:black;
    background-color:inherit
}
